body{
    height: 100vh;
    text-align: center;
    width: 100%;
    background: beige;
}

.meditateBtn, .start{
    height: 150px;
    margin: auto;
}

.display-4{
    margin: 0 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.89);
}

.weather, .date{
    margin: 30px 10px;
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.89);
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.timer{
    background-color: rgba(255, 255, 255, 0.89);
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    border-radius: 30px;
    height: 75%;
    text-align: center;
    padding: 50px;
    background: burlywood;
    margin-top:50px;

}

button{
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 30px;
    background: blanchedalmond;
    margin:20px;
}
.time{
    font-size: 100px;
}

/* .container{
    margin: auto;
    padding: 50px;
    margin-top:50px;
} */

footer{
    width: 100%;
    margin:0 auto;
    border-radius: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    position: absolute;
    bottom: 0;
    font-weight:bold;
    text-align:center;
}


